body {
	color: #1a1a1a;
	background: #1a1a1a;
	font-family: "Hind", "Avenir", "Helvetica", arial;
	/* font-family: 'leelawadeeregular', sans-serif; */
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:focus {
	outline: none;
	text-decoration: none;
}

.site-container {
	color: #818181;
}

.site-inner {
	background-color: #efefef;
}

.site-inner > .wrap {
	max-width: initial;
	padding: 0;
}

.site-inner h2 {
	font-size: 36px;
	font-size: 3.6rem;
	color: #444444;
}

.home .entry-header {
    display: none;
}

/*** Banner ***/

.banner {
    width: 100%;
/*    overflow: hidden;*/
}

.banner-text h1,
.banner-text h2 {
	font-family: 'leelawadeeregular', sans-serif;	
}

.banner .logo-2 {
	display: block;	
}

.banner-video {	
    width: 100%;
    object-fit: fill;
}

.banner-video,
.banner-video-yt {
    display: none;
}

.banner-video-yt {
	margin-top: 20px;
}

.banner-text {
    font-size: 24px;
    font-size: 2.4rem;
}

.banner-text h1 {
	font-size: 48px;
	font-size: 4.8rem;
}

.banner-text h2 {
	font-size: 40px;
	font-size: 4.0rem;
	color: #ffffff;
	margin-top: 10px;
}

.banner-text p {
    text-align: center !important;
}

.banner-btns {
    display: table;
    margin: 0 auto;
}

.banner-btns .btn,
.features-grid .btn {
    display: inline-block;
    color: #fff;
    background-color: #00B9E4;
    text-shadow: none;
    font-size: 18px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
}
.banner-btns .btn:nth-child(2) {
    margin-left: 15px;
}

.banner img {    
    display: block;
    width: 100%;
    height: auto;
}

/*** End of Banner ***/

.home .site-inner h1,
.home .site-inner h2 {
    text-align: center;
    font-weight: bold;
}

.home .site-inner p {
    
}

.page .entry-title {
    text-align: center;
    font-weight: bold;
}

/*** Features Grid ***/

.features-grid-wrap {
	margin-top: 70px;
}

.features-grid-wrap h2 {
	margin-bottom: 50px;
}

.features-grid {  
 	background-color: #ffffff;  
}

.features-grid p {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2;
	margin-bottom: 0;	
}

.features-grid .col {
	color: rgba(255,255,255,0.90);
    height: 320px;
	padding: 40px;
	/* background-color: #0199E5; */
	/*border-left: 1px solid #F0F0F0;*/
	transition: all 0.2s ease-in-out;    
}

#fg-products.features-grid .col {
	padding-top: 20px;
	position: relative;
}

.features-grid .btn {
	position: absolute;
	left: calc(50% - 100px);	
	bottom: 20px;
	display: block;
	margin: 0 auto;
}

#fg-services.features-grid .col {
	color: #818181;	
	height: 290px;
}

#fg-services.features-grid .col .fg-content {
	margin-top: 20px;
}

#fg-products.features-grid .col:nth-child(1),
#fg-products.features-grid .col:nth-child(5),
#fg-products.features-grid .col:nth-child(9) {
	background-color: #0199E5;
}

#fg-products.features-grid .col:nth-child(2),
#fg-products.features-grid .col:nth-child(6),
#fg-products.features-grid .col:nth-child(7) {
	background-color: #181E23;
}

#fg-products.features-grid .col:nth-child(3),
#fg-products.features-grid .col:nth-child(4),
#fg-products.features-grid .col:nth-child(8) {
	background-color: #F28526;
}

.features-grid .col:after {
	content: "";
	display: table;
	clear: both;
}

.features-grid .col:hover {		
	/* border: 10px solid #666666;*/
	background-size: cover;
	background-repeat: no-repeat;	
}

#fg-services.features-grid .col:hover {
	color: #ffffff;	
	height: 290px;
}

#fg-products.features-grid .col:nth-child(1):hover {
	/* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_fotogrametria.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-products.features-grid .col:nth-child(2):hover {
	/* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_realidad_aumentada.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-products.features-grid .col:nth-child(3):hover {
	/* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/fondo_vl.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(1):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_geomarketing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(2):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_geolocalizacion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(3):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_realidad_aumentada.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(4):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_visita_virtual.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(5):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_cartografia.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#fg-services.features-grid .col:nth-child(6):hover {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/foto_fotogrametria.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.features-grid .col img {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: auto;
	height: 100px;
}

#fg-products.features-grid .col img {	
	/* height: 100px; */
}

.features-grid .fg-content {
	text-align: center;
}

.fg-content p {
	line-height: 1.5;
}

/*** End of Features Grid ***/

/*** About Page ***/
#about {
	margin-top: 70px;
	background-color: #ffffff;
	/* border: 1px solid #333; */	
}

#about.wrap {
	padding: 0;	
}

#about .img {
	background-image: url(/images/about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#about-content {
	padding: 50px;
}

#about h2 {
	text-align: left;
}

/*** End of About Page ***/

/*** Contact Page ***/

.page-contact .wpcf7-form-control-wrap {
	display: block;
	margin-bottom: 5px;
}

/*** End of Contact Page ***/

.site-footer {
	opacity: 1;
}

.site-footer > .wrap {
	padding: 0;
	text-align: initial;
}

.site-footer,
.site-footer a {
	color: rgba(255,255,255,0.5);
}

#footer-contact-info .fa {
	width: 30px;
}

#footer-social .fa {
	margin-left: 5px;
	font-size: 24px;
	font-size: 2.4rem;
}